---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/basic.tf" .Name)}}

### Variables file (variables.tfvars)
{{ tffile (printf "examples/resources/%s/basic.tfvars" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import nexaa_cloud_database_cluster_database.database project/cluster/database/test
```

## More examples
